body {
  margin: 0;
  font-family: Aboreto;
}


nav {
  background-color: rgb(186, 247, 226);
  
}
nav .container {
  margin: 0;
}
#dropdown-basic {
  background-color:  rgb(143, 248, 211);
}
.content{
  min-height: calc(100vh - 56px - 56px - 65px);
}
.container {
  margin-top: 2rem ;
}